snippet licedu "Licence for education documents" b
This document is created by Dr. Md. Enamul Hoque, Assistant Professor, Department of Physics, Shahjalal University of Science and Technology, Sylhet - 3114, Bangladesh.
(c) mjonyh-phy@sust.edu `!v strftime("%Y")`
endsnippet
